extends layout

block body
  div(class='container')
    div.jumbotron
      h1 Devito URL Shortener
      p Keep it short & classy
    section
      h3#host_url http://#{ HOSTNAME }
    section
      div.url-list(ng-controller='UrlListController as urlList' ng-model)
        div.url-header
          h4 Short Link
          h4 Target
        div.new-url-entry
          form(ng-submit='urlList.addUrl()')
            div.columns
              input(type='text', ng-model='newUrl.shortLink')
              input(type='text', ng-model='newUrl.target')
              button.btn.btn-primary.btn-sm(type='submit')
                i.fa.fa-plus
            input(type='hidden', ng-model='newUrl.idx')
        div.url-entry.ng-cloak(ng-repeat='url in urls | orderBy:"-idx"', ng-cloak)
          span
            a(href='http://#{ HOSTNAME }/{{ url.shortLink }}', target='_blank') {{ url.shortLink }}
          span {{ url.target }}
          button.btn.btn-danger.btn-sm(ng-click='urlList.deleteUrl(url.shortLink)')
            i.fa.fa-remove

  script(src='static/libs/jquery/dist/jquery.min.js')
  script(src='static/libs/angular/angular.min.js')
  script(src='static/libs/angular-route/angular-route.min.js')
  script(src='static/libs/angular-resource/angular-resource.min.js')
  script(src='static/js/app.js')
  script(src='static/js/services.js')
  script(src='static/js/controllers.js')
  script(src='static/js/filters.js')
  script(src='static/js/directives.js')
