.url-list {
  padding: 10px;
  background: #add8e6;
}
.url-list .url-header,
.url-list .url-entry {
  *zoom: 1;
  padding: 10px;
}
.url-list .url-header:before,
.url-list .url-entry:before {
  content: '';
  display: table;
}
.url-list .url-header:after,
.url-list .url-entry:after {
  content: '';
  display: table;
  clear: both;
}
.url-list .url-header > *:first-child,
.url-list .url-entry > *:first-child {
  width: calc(99.99% * 4/13 - (30px - 30px * 4/13));
}
.url-list .url-header > *:first-child:nth-child(1n),
.url-list .url-entry > *:first-child:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.url-list .url-header > *:first-child:last-child,
.url-list .url-entry > *:first-child:last-child {
  margin-right: 0;
}
.url-list .url-header > *:first-child:nth-child(13n),
.url-list .url-entry > *:first-child:nth-child(13n) {
  float: right;
}
.url-list .url-header > *:first-child:nth-child(13n),
.url-list .url-entry > *:first-child:nth-child(13n) {
  margin-right: 0;
}
.url-list .url-header > *:first-child:nth-child(13n + 1),
.url-list .url-entry > *:first-child:nth-child(13n + 1) {
  clear: left;
}
.url-list .url-header > *:nth-child(2),
.url-list .url-entry > *:nth-child(2) {
  width: calc(99.99% * 8/13 - (30px - 30px * 8/13));
}
.url-list .url-header > *:nth-child(2):nth-child(1n),
.url-list .url-entry > *:nth-child(2):nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.url-list .url-header > *:nth-child(2):last-child,
.url-list .url-entry > *:nth-child(2):last-child {
  margin-right: 0;
}
.url-list .url-header > *:nth-child(2):nth-child(13n),
.url-list .url-entry > *:nth-child(2):nth-child(13n) {
  float: right;
}
.url-list .url-header > *:nth-child(2):nth-child(13n),
.url-list .url-entry > *:nth-child(2):nth-child(13n) {
  margin-right: 0;
}
.url-list .url-header > *:nth-child(2):nth-child(13n + 1),
.url-list .url-entry > *:nth-child(2):nth-child(13n + 1) {
  clear: left;
}
.url-list .url-header > *:nth-child(3),
.url-list .url-entry > *:nth-child(3) {
  width: calc(99.99% * 1/13 - (30px - 30px * 1/13));
}
.url-list .url-header > *:nth-child(3):nth-child(1n),
.url-list .url-entry > *:nth-child(3):nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.url-list .url-header > *:nth-child(3):last-child,
.url-list .url-entry > *:nth-child(3):last-child {
  margin-right: 0;
}
.url-list .url-header > *:nth-child(3):nth-child(13n),
.url-list .url-entry > *:nth-child(3):nth-child(13n) {
  float: right;
}
.url-list .url-header > *:nth-child(3):nth-child(13n),
.url-list .url-entry > *:nth-child(3):nth-child(13n) {
  margin-right: 0;
}
.url-list .url-header > *:nth-child(3):nth-child(13n + 1),
.url-list .url-entry > *:nth-child(3):nth-child(13n + 1) {
  clear: left;
}
.url-list .url-entry span {
  padding: 5px;
  background: #c6e4ee;
}
.url-list .new-url-entry form {
  *zoom: 1;
  padding: 10px;
}
.url-list .new-url-entry form:before {
  content: '';
  display: table;
}
.url-list .new-url-entry form:after {
  content: '';
  display: table;
  clear: both;
}
.url-list .new-url-entry form > *:first-child {
  width: calc(99.99% * 4/13 - (30px - 30px * 4/13));
}
.url-list .new-url-entry form > *:first-child:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.url-list .new-url-entry form > *:first-child:last-child {
  margin-right: 0;
}
.url-list .new-url-entry form > *:first-child:nth-child(13n) {
  float: right;
}
.url-list .new-url-entry form > *:first-child:nth-child(13n) {
  margin-right: 0;
}
.url-list .new-url-entry form > *:first-child:nth-child(13n + 1) {
  clear: left;
}
.url-list .new-url-entry form > *:nth-child(2) {
  width: calc(99.99% * 8/13 - (30px - 30px * 8/13));
}
.url-list .new-url-entry form > *:nth-child(2):nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.url-list .new-url-entry form > *:nth-child(2):last-child {
  margin-right: 0;
}
.url-list .new-url-entry form > *:nth-child(2):nth-child(13n) {
  float: right;
}
.url-list .new-url-entry form > *:nth-child(2):nth-child(13n) {
  margin-right: 0;
}
.url-list .new-url-entry form > *:nth-child(2):nth-child(13n + 1) {
  clear: left;
}
.url-list .new-url-entry form > *:nth-child(3) {
  width: calc(99.99% * 1/13 - (30px - 30px * 1/13));
}
.url-list .new-url-entry form > *:nth-child(3):nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.url-list .new-url-entry form > *:nth-child(3):last-child {
  margin-right: 0;
}
.url-list .new-url-entry form > *:nth-child(3):nth-child(13n) {
  float: right;
}
.url-list .new-url-entry form > *:nth-child(3):nth-child(13n) {
  margin-right: 0;
}
.url-list .new-url-entry form > *:nth-child(3):nth-child(13n + 1) {
  clear: left;
}
.url-list .new-url-entry form input[type='submit'] {
  margin-top: 20px;
  width: calc(99.99% * 1/5 - (30px - 30px * 1/5));
}
.url-list .new-url-entry form input[type='submit']:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}
.url-list .new-url-entry form input[type='submit']:last-child {
  margin-right: 0;
}
.url-list .new-url-entry form input[type='submit']:nth-child(5n) {
  float: right;
}
.url-list .new-url-entry form input[type='submit']:nth-child(5n) {
  margin-right: 0;
}
.url-list .new-url-entry form input[type='submit']:nth-child(5n + 1) {
  clear: left;
}

/*# sourceMappingURL=styles.css.map */
