//body
//  lost-utility: edit

columns()
  lost-utility: clearfix
  padding: 10px
  > *
    &:first-child
      lost-column: 4/13
    &:nth-child(2)
      lost-column: 8/13
    &:nth-child(3)
      lost-column: 1/13

// c.f. https://docs.angularjs.org/api/ng/directive/ngCloak
[ng\\\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important

.url-list
  padding: 10px
  margin-bottom: 20px
  background: lightblue
  border-radius: 6px
  .well
    border-color: darken(lightblue, 20%)
  .url-header, .url-entry
    columns()
  .url-entry
    span
      padding: 5px
      word-wrap: break-word
      background: lighten(lightblue, 30%)
  .new-url-entry
    form
      .columns
        columns()
